#pagetop {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0px 7px 0px 7px;
    background-color: #ecfef3;
    font-family: 'Lucida Sans';
    font-size: smaller;
    font-weight: bolder;
}

/* nav */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    background-color: #118486;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:nth-child(1) a {
    background: #111;
    margin-right: 20px;
}

li:nth-child(2) a {
    background: #118486;
}

li:nth-child(3) a {
    background: none;
    color: black;
}

li:nth-child(4) a {
    background: black;
}

li a:hover {
    background-color: #E4DA7D;

    transition:all .10s ease-in-out;
    cursor: pointer;
    color: #063636;
}

#home {
    float: left;
}

/*list*/

#opsi {
    padding: 10px !important;
    margin-bottom: 10px !important;
    background-color: white !important;
    border-radius: 5px !important;
    text-align: left !important;
    color: black;
}

#opsi:hover {
    display: inline-block;
    width: 88%;
    transition:all .10s ease-in-out;
    background-color: #094849 !important;
    cursor: pointer;
    color: #EDFEEC;
}

/* menu */
.dropdown {
    float: left;
    display: inline-block;
    background: #118486; 
}
        
.dropdown-content {
    display: none;
    text-align: left;
    position: absolute;
    background-color: #eeeeee9f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;
    padding-bottom: 0;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
